doctype html
html(lang='zh-CN')
	head
		title 找的就是你，被埋没是一种罪过——#{companyName}喊你来面试啦！
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta( name="format-detection",content="email=no")
		link(type="text/css",rel="stylesheet",href="css/reset.css")
		link(type="text/css",rel="stylesheet",href="css/index.css")
		link(type="text/css",rel="stylesheet",href="css/animations.css")
		link(type="text/css",rel="stylesheet",href="css/load.css")
	body
		#loading
			.spinner
				.double-bounce1
				.double-bounce2
		#content(style='display:none')
			.page.page-1-1.page-current
				.wrap
					img.img_1.pt-page-moveFromTop(src='images/t1-text.png')
					img.img_2.pt-page-moveCircle(src='images/t1-yuan.png')
					img.img_3.pt-page-moveIconUp(src='images/icon_up.png')
			.page.page-2-1.hide
				.wrap
					img.img_1.hide.pt-page-moveFromLeft(src='images/t2-3.png')
					img.img_3.hide.pt-page-moveCircle(src='images/t2-2.png')
					img.img_6.pt-page-moveIconUp(src='images/icon_up.png')
			.page.page-3-1.hide
				.wrap
					img.img_1.hide.pt-page-moveFromRight(src='images/t3-2.png')
					img.img_2.hide.pt-page-moveCircle(src='images/t3-1.png')
					img.img_6.hide.pt-page-moveIconUp(src='images/icon_up.png')
			each item in jobList
				.page.page-6-1.hide
					.wrap
						img.img_1.hide.pt-page-moveCircle(src='images/t6-1.png')
						div.img_2.pt-page-moveFromRight.hide.divText 职位内容/介绍
							p #{item.posJd}
						div.img_3.pt-page-moveFromLeft.hide.divText 职位名称
							p #{item.posName}
						img.img_6.hide.pt-page-moveIconUp(src='images/icon_up.png')
			.page.page-9-1.hide
				.wrap
					img.img_1.hide.pt-page-moveCircle(src='images/t9-1.png')
					img.img_2.pt-page-moveFromBottom.hide(src='images/t9-2.png')
					img.img_6.hide.pt-page-moveIconUp(src='images/icon_up.png')
			.page.page-10-1.hide
				.wrap
					img.img_1.hide.pt-page-moveCircle(src='images/t10-1.png')
					.text
						h2(style='padding:5px; margin:0px') #{companyName}企业招聘
						p 电话：
							a(href='tel:#{companyTel}') #{companyTel}
							a(href='tel:#{companyTel}',style='padding-left:5px;color:#000;') 点击拨打 
						p 邮箱：
							a(href='tel:#{companyEmail}') #{companyEmail}
					img(onclick='shareDialog()',src='images/t10-3.png').img_3.pt-page-moveFromBottom.hide
					p.other1
						a(href='/') 我也要制作
					p.other
						a(href='/login') 制作者修改
		#audiocontainer				
		#textsuper
			#textsub
				img#fontimg
		#share(onclick='closeDialog()')
		script(src='/js/view.js')
		script(src="/js/lib/zepto.min.js")
		script(src="/js/touch.js")
		script(src="/js/index.js")
